.banner {
  /* gradiente suave, moderno */
  background: linear-gradient(135deg, #a85d5d, #a85d5d); /* vermelho YouTube para laranja suave */
  
  width: 100%;
  min-height: 200px; /* altura padrão do banner */
  
  display: flex;
  align-items: center;
  justify-content: center;

  /* sombra leve no texto */
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

.banner h2 {
  color: white;
  font-size: 1.8rem; /* tamanho maior, destaque */
  font-weight: bold;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}
